/*🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟 B O D Y 🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, header {
	width: 100%;
	height: 100%;
}

/*🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟 T E X T 🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟*/
h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 55px;
	color: #502628;
	font-weight: normal;
	text-transform: uppercase;
	width: 1000px;
	margin: 0 auto;
}

h2 {
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	color: #de6e1d;
	margin: 0 auto;
	font-weight: normal;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 17px;
	color: white;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1px;
}

p {
	font-family: 'Times';
	font-size: 17px;
	color: #502628;
	line-height: 27px;
}

.italic {
	font-style: italic;
}

.orange {
	color: #de6e1d; 
	margin-top: 200px;
}
/*🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟 N A V 🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟*/
.mainnav {
	border-bottom: 2px dotted #502628;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: black;
	height: 172px;
	vertical-align: middle
}

.mainnav a {
	padding: 0 30px;
	font-size: 15px;
	line-height: 172px;
	text-decoration: none;
	color: #502628;
	text-transform: uppercase;
	transition: 0.3s
}

.mainnav a:first-child, .mainnav a:first-child + a {
	border-right: 2px dotted #502628;
}

.mainnav a:last-child, .mainnav img + a {
	border-left: 2px dotted #502628;
}

.mainnav img {
	height: 140px;
	display: inline-block;
	padding: 0px 40px;
	vertical-align: middle
}

/*🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟 H E A D E R 🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟*/
header {
	position: relative;
	overflow: hidden;
}

header video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

header .social {
	position: absolute;
	top: 5%;
	right: 10%;
	transform: translate(-50%,-50%);
	font-size: 28px;
}

.social a {
	color: white;
	text-decoration: none;
}

header p:first-child {
	font-family: 'Pacifico', cursive;
	font-size: 35px;
	color: white;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
}

header p:last-child {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 86px;
	color: white;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.headerImg {
	background: url(../img/cat_drink-1790x529.jpg) center no-repeat;
	background-size: cover;
	height: 529px;
	position: relative;
}

.headerImg::after {
	content: url(../img/badge-belgium.png);
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%,-50%);
}
/*🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟 M A I N 🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟*/
.wrap {
	width: 1140px;
	margin: 0 auto;
	margin-bottom: 200px;
	text-align: center;
}

.wrap img:first-child {
	transform: scaleX(-1);
}

h1 + p {
	margin-top: 30px;
	padding-bottom: 70px;
	border-bottom: 2px dotted #502628;
}

section div {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	height: 270px;
	text-align: left;
	margin-top: 100px;
}

h2 + p {
	margin-top: 40px;
}

section div video {
	height: 270px
}

section div img {
	height: 70px;
	vertical-align: middle;
	margin-right: 20px
}

section div img:last-child {
	height: 32px;
}

.pre-footer {
	width: 100%;
	background-color: #de6e1d;
}

.pre-footer div {
	margin: 0 auto;
	padding: 50px 0;
	width: 1140px;
}

.pre-footer div div {
	display: inline-block;
	width: 50%;
	border: 1px;
	vertical-align: top;
}

.pre-footer div div h2 {
	color: white;
	margin-bottom: 40px;
}

.pre-footer div div h3 {
	color: #502628;
}

.pre-footer img {
	width: 133px;
	float: left;
	margin-right: 80px;
}

/*🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟 B O I S S O N S 🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟*/
.coffeeThumbnail {
	width: 350px;
	text-align: center;
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin: 0 10px;
	vertical-align: top;
}

.mainBoissons div .coffee {
	width: 240px;
	border-radius: 150px;
	margin-bottom: 50px;
	filter: grayscale(100%);
}

.mainBoissons div .coffee:hover {
	filter: grayscale(0%);
}

.mainBoissons div .coffeeThumbnail:hover::after {
	position: absolute;
	top: 28%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: "FontAwesome";
	color: white;
	font-size: 45px;
	content: "\f030";
	z-index: 100;
}

.mainBoissons div .divider {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.mainBoissons div h2 {
	margin-bottom: 20px;
}

.mainBoissons div p {
	margin-top: 55px;
}

.mainBoissons .wrap > div {
	margin-top: 80px;
}

/*🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟 C O N T A C T 🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟*/
.mainContact .wrap {
	margin-top: 200px;
}

.mainContact .divContact h3 {
	color: #502628;
}

.contenerContact {
	width: 1140px;
	margin: 0 auto;
	padding-bottom: 200px;
	position: relative;
}

.contenerContact::before {
	content: url(../img/bg-stamp.png);
	position: absolute;
	top: 5%;
	left: 95%;
	transform: translate(-50%,-50%);
}

.divContact {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.contenerContact .divContact:first-child a {
	text-decoration: none;
	color: #502628;
	font-size: 29px;
	margin-top: 10px;
}

.contenerContact .divContact:last-child {
	border-left: 2px solid #502628;
}

.divMail, .divPost {
	border-bottom: 2px solid #502628;
}

.contenerContact h3 {
	display: inline-block;
	margin: 60px 0;
}

.contenerContact h3 + div {
	margin-top: 40px;
}

.divContact div div {
	width: 350px;
	float: right;
}

.divContact form {
	margin-left: 60px;
}

.divContact label {
	font-family: 'Times';
	font-size: 17px;
	color: #502628;
	line-height: 27px;
	font-style: italic;
	margin-bottom: 30px;
}

.divContact form input, .divContact form textarea {
	display: block;
	width: 100%;
	height: 40px;
	border: 1px solid black;
	margin-bottom: 30px;
}

.divContact form textarea {
	height: 100px;
}

.divContact form .captcha {
	margin-top: 80px;
}

.divContact button {
	margin: 30px 0;
	height: 50px;
	width: 100%;
	border: none;
	background-color: #502628;
	font-family: 'Oswald', sans-serif;
	font-size: 17px;
	color: white;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1px;
}

.captcha a {
	color: #de6e1d;
	text-decoration: none;
}

.googleMap {
	background: #502628;
	text-align: center;
	border-top: 2px dotted white;
	width: 1140px;
	margin: 0 auto;
}

.googleMap h3 {
	margin: 0;
	font-size: 23px;
	padding: 50px 0;
}

/*🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟 F O O T E R 🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟*/
.footer-top {
	background: #502628;
}

.footer-wrap {
	width: 1140px;
	margin: 0 auto;
}

.footer-wrap div {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 33%;
	margin: 50px 0;

}

.footer-wrap div:first-child, .footer-wrap div:first-child + div {
	border-right: 2px dotted white;
}

footer p {
	color: white;
}

footer .social {
	font-size: 30px
}

footer form {
	display: inline-block;
	position: relative;
	margin-right: 15px;
}

footer input {
	padding: 12px;
	width: 150px;
	background-color: #502628;
	border: 2px solid white;
	text-align: center;
	font-family: 'Times';
	font-size: 17px;
}

footer input::placeholder {
	color: white;
	font-style: italic;
}

footer form + h3 {
	display: inline-block;
}

footer a {
	color: white;
	text-decoration: none;	
}

.footerMap {
	background: url(../img/new-map-2x.jpg) center no-repeat;
	background-size: cover;
	text-align: center;
}

.footerMap h3 {
	padding: 70px 0;
	margin: 0;
	display: inline-block;
	position: relative;
}

.footerMap h3::before {
	position: absolute;
	top: 50%;
	left: -20px;
	transform: translate(-50%,-50%);
	content: url(../img/new-map-pointer.png);
}